<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('.title') %></strong>
  <%= @comment.body %>
</p>

<%= link_to t('common.update'), edit_comment_path(@comment) %> |
<%= link_to t('common.back'), post_path(@comment.post) %> |
