<strong>Заголовок:</strong>
<%= @post.title %>
<p><strong>Категории:</strong>
<% @post.category_ids.each do |cat| %>
    <%= Category.find(cat).name %>
<% end %>
</p>
<p>
  <strong>Содержание:</strong>
  <%= @post.body %>
</p>
<%= render 'common/comments', object: @post %>
<%= link_to 'Изменить', edit_post_path(@post) %> |
<%= link_to 'Назад', posts_path %>
