<% hidden = true %>
<div class="post">
  <strong><%= t('.title')%></strong>
  <%= @post.title %>
  <p><strong><%= t('.category') %></strong>
    <i><%= @post.categories_titles %></i>
  </p>
  <p><strong><%= t('.creator') %></strong>
    <i><%= @post.user.email %></i>
  </p>
  <p>
    <strong><%= t('.body') %></strong>
    <%= @post.body %>
  </p>
</div>
<%= form_for (@post), html: {style: "display: #{hidden ? 'none' : 'block'}"} do |f| %>
    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label ("Содержание") %><br>
      <%= f.text_area :body %>
    </div>
    <div class="actions">
      <%= f.submit ("Изменить") %>
    </div>
<% end %>

<% if @post.comments.empty? %>
    <h4><%= t('.no_comments') %></h4>
<% else %>
    <%= render @post.comments %>
<% end %>
<%= render 'comments/form' %>
<% if user_signed_in? %>
    <% if @post.subscribers.include?(current_user) %>
        <%= link_to t('common.unsubscribe'), unsubscribe_post_path(@post), method: :patch %> |
    <% else %>
        <%= link_to t('common.subscribe'), subscribe_post_path(@post), method: :patch %> |
    <% end %>
    <% if @post.user_id == current_user.id || current_user.admin? %>
        <%= link_to t('common.update'), '#',  class: 'edit_post' %> |
        <%= link_to t('common.delete'), @post, method: :delete %> |
    <% end %>
<% end %>
<%= link_to t('common.back'), posts_path %>
