<table class="table  table-striped table-bordered">
  <tbody>

  <tr>
    <td><h4><%= post.title %></h4>


      <I><%= post.categories_titles %></I><br>
      <%= truncate(post.body, length: 200) %><br>
      <%= link_to 'Читать далее... ', [:admin, post] %>
      <br>
      <%= link_to 'Изменить', edit_admin_post_path(post) %> |
      <%= link_to 'Удалить', [:admin, post], method: :delete %> |

    </td>
  </tr>


  </tbody>

</table>